@import url(//fonts.googleapis.com/css?family=Work+Sans:400);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Work Sans;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #fff;
  padding-top: 104px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  width: 64px;
}

header nav a {
  margin-left: 10px;
  transition: border 0.3s ease-in;
  border-bottom: solid 2px #555;
  padding-bottom: 3px;
}

header nav a :hover {
  border-color: #555;
}

header nav .selected {
  border-bottom: #fff;
}

.photos {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.photo {
  width: 320px;
  margin: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.photo:hover .overlay {
  opacity: 1;
}

.photo h2 {
  position: absolute;
  left: -15px;
  top: -15px;
  font-size: 32px;
  line-height: 1.2;
}

.small {
  width: 220px;
}

.large {
  width: 400px;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

footer nav a {
  width: 16px;
  margin-left: 5px;
  display: inline-block;
}

.list a img {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  pointer-events: none;

  transition: opacity 0.3s;
}
.list {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  line-height: 1.2;
  margin-top: 120px;
}

.list a:after {
  content: "/";
}

.list a:last-child:after {
  content: "";
}

.list a:hover img {
  opacity: 1;
}

.list a {
  transition: color 0.3s;
}

.list:hover a {
  color: #4d4d4d;
}

.list a:hover {
  color: #fff;
}
